<aside>
    <nav>
        <ul>
            <div class="boxPerfil">
                <li id="foto">
                    <img [src]="imgDefault" alt="user">
                </li>
                <li>
                    <p id="nome">{{userData.nome}}</p>
                </li>
                <li>
                    <p id="ds">Desenvolvimento de Sistemas</p>
                </li>
            </div>
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-home"></i>  Página Inicial</a>
            </li>
            <li>
                <a routerLink="/curso" routerLinkActive="active"><i class="fa fa-book"></i>  Seu Curso</a>
            </li>
            <li>
                <a routerLink="/forum" routerLinkActive="active"><i class="fa fa-users" ></i>  Fórum</a>
            </li>
            <li>
                <a routerLink="/feed" routerLinkActive="active"><i class='bx bxs-conversation'></i>  Feed</a>
            </li>
            <li>
                <a routerLink="/calendario" routerLinkActive="active"><i class='bx bxs-calendar-star' ></i>  Calendário</a>
            </li>
            <li>
                <a routerLink="/arquivos" routerLinkActive="active"><i class='bx bx-paperclip'></i> Arquivos</a>
            </li>
            <li><button class="logout" (click)="logout()"><i class='bx bx-log-out'></i>  SAIR</button></li>
        </ul>
    </nav>
</aside>