nav ul {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	li {
		list-style: none;
		a {
			display: flex;
			justify-content: start;
			align-items: center;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 18px;
			color: var(--quinary-color);
			position: relative;
			padding: 10px 0 10px 38px;
			margin-top: 20px;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.699);
			transition: all 600ms ease-in-out;
			&:before {
				content: '';
				position: absolute;
				top: 0px;
				right: 0px;
				width: 0%;
				height: 100%;
				background: var(--quaternary-color);
				border-radius: 40px 0px 0px 40px;
				z-index: -1;
				transition: all 600ms ease-in-out;
				text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.642);
			}
			&:hover {
				color: var(--primary-color);
			}
			&:hover:before {
				width: 95%;
			}
			&.active {
				color: var(--primary-color);
				border-radius: 40px 0px 0px 40px;
				background-color: var(--quaternary-color);
			}
			&.active:before {
				border-radius: 40px 0px 0px 40px;
				width: 95%;
				color: var(--primary-color);
			}
		}
	}
}

button{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--octonary-color);
	color: var(--quinary-color);
	border: none;
	padding: 10px 20px;
	border-radius: 40px;
	cursor: pointer;
	font-weight: 600;
	&:hover{
		background: #ff1515;
	}
}

#foto{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(var(--secondary-color), var(--tertiary-color));
}
#ds{
	font-weight: 500;
	text-align: center;
	margin-bottom: 40px;
}
#nome{
	font-weight: 300;
	text-align: center;
	margin-top: 20px;
}

#foto img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 3;
}

.boxPerfil{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	width: 100%;
}

.container-btn{
	position: fixed;
	bottom: 20px;
	left: 110px;
	p{
		display: none;
	}
}

label{
	position: absolute;
	top: 0;
	left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	color: var(--quinary-color);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
	font-weight: 600;
	font-size: 12px;
	text-align: center;
	z-index: 1;
	content-visibility: hidden;
	&:hover{
		background: rgba(5, 5, 5, 0.548);
		content-visibility: visible;
	}
}

input[type="file"]{
	display: none;
}

button.atualizar{
	background: linear-gradient(to bottom ,var(--secondary-color) 20%, var(--tertiary-color));
  }

@media (max-width: 768px) {
	nav ul {
		width: 100%;
		height: 50px;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	nav ul li {
		margin: 0;
	}
	nav ul li a {
		padding: 10px 20px;
		margin-top: 0;
		font-size: 14px;
		color: #fff;
	}
	nav ul li a:before,
	nav ul li a.active:before,
	nav ul li a:hover:before {
		width: 0%;
		height: 0%;
		border-radius: 0;
	}
	nav ul li a.active {
		border-radius: 0;
		background-color: transparent;
		color: #fff;
	}

	.container-btn {
		left: 50%;
		transform: translateX(-50%);
		position: fixed;
		width: 100%;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #0c101e;
		padding: 10px;
	}
	.container-btn p {
		display: block;
		color: #fff;
		font-weight: 500;
		font-size: 14px;
	}

	.boxPerfil {
		margin-top: 0;
		display: none;
	}

	label {
		left: 50%;
		transform: translateX(-50%);
	}

	#foto {
		height: 60px;
		width: 60px;
	}
	#foto img {
		height: 100%;
		width: 100%;
		border-radius: 50%;
		z-index: 3;
	}

	#ds {
		font-weight: 500;
		text-align: center;
		margin-bottom: 20px;
	}

	#nome {
		font-weight: 300;
		text-align: center;
		margin-top: 10px;
	}
}