<aside [ngClass]="class.sidebars" *ngIf="userData">
    <div [ngClass]="class.container">
        <section [ngClass]="class.row">
            <div [ngClass]="class.col">
                <div [ngClass]="class.cardPerfil">
                    <img src="{{imgDefault}}" alt="user" [ngClass]="class.fotoPerfil">
                    <div [ngClass]="class.nome">
                        <h5><a href="#" class="textWhite">{{userData!.nome}}</a></h5>
                        <a href="#" class="textWhite"><i class="fa fa-user"></i>{{userData!.curso}}</a>
                    </div>
                </div>
                <ul [ngClass]="class.navFeed">
                    <li><div><a routerLink="/">Página Inicial</a></div></li>
                    <li><div><a routerLink="/curso">Seu Curso</a></div></li>
                    <li><div><a routerLink="/forum">Fórum</a></div></li>
                    <li><div><a routerLink="/calendario">Calendário</a></div></li>
                    <li><div><a routerLink="/arquivos">Arquivos</a></div></li>
                    <li><div><button class="logout" (click)="logout()"><i class='bx bx-log-out'></i>Sair</button></div></li>
                </ul>
            </div>
        </section>
    </div>
</aside>