nav{
  
}
nav ul {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 260px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #0c101e;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	position: relative;
	padding: 10px 0 10px 38px;
  	margin-top: 20px;
  	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.699);
}
nav ul li a:before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0%;
	height: 100%;
	background: #d5d4d4;
	border-radius: 40px 0px 0px 40px;
	z-index: -1;
	transition: all 300ms ease-in-out;
	text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.856);
}
nav ul li a:hover {
	color: #0c101e;
}
nav ul li a:hover:before {
	width: 95%;
}
button{
  background: rgba(255, 21, 21, 0.848);
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 80px;
  font-weight: 600;
}

button:hover{
  background: rgb(251, 31, 31);
}
#foto{
  height: 40px;
  width: 40px;
  flex-direction: column;
  margin-right: 20px;
  top: 30px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 70px;
}
#ds{
	font-weight: 500;
	text-align: center;
	margin-bottom: 40px;
}
#nome{
	font-weight: 300;
	text-align: center;
	margin-top: 70px;
}