<div  class="resposta-overlay"  @slideInOut [@slideInOut]="stateName">
    <div  class="resposta">
        <div class="publicacao">
            <form [formGroup]="respostaForm" (ngSubmit)="adicionarResposta()">
                <div class="publicacao-body">
                    <textarea 
                        class="form-control" 
                        rows="2"
                        placeholder="Responda ..." 
                        id="resposta"
                        name="resposta"
                        formControlName="resposta">
                    </textarea>
                    <div class="btns">
                        <button class="btn btn-sm btn-primary pull-right" type="submit" ><i class="fa fa-pencil fa-fw"></i> Enviar</button>
                            <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
                            <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                            <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
                    </div>
                </div>
            </form>
        </div>
        <button class="btn-close" (click)="closeResposta()"><i class='bx bxs-x-circle'></i></button>
        <div *ngFor="let resposta of respostas" class="resposta-card">
            <div class="resposta-header">
              <div class="fotoPerfil">
                <img src="{{apiUrl}}uploads/{{resposta.aluno!.img}}" alt="foto de perfil">
              </div>
              <div class="resposta-info">
                <p class="nome"><strong>{{ resposta.aluno!.nome }}</strong></p>
                <small class="data">Postado em: {{ resposta.createdAt | date:'short' }}</small>
              </div>
            </div>
            <p class="conteudo">{{ resposta.resposta }}</p>
          </div>
    </div>
</div>
