<section>
    <section class="addQuest">
        <button class="btn" (click)="showForm()"><i class='bx bxs-comment-add' ></i> Adicionar </button> <button class="btn" (click)="showFilter()"><i class='bx bx-filter-alt'></i> Filtrar</button>
    </section>
    <section class="questoes" *ngFor="let forum of forums">
        <div class="img">
            <div class="fotoPerfil">
                <img src="http://localhost:3333/uploads/{{forum.aluno.img}}" alt="fotoperfil">
            </div>
        </div>
        <div class="questao">
            <h3>{{forum.titulo}}</h3>
            <div class="autor">
                <p><span>Autor: {{forum.aluno.nome}}</span></p>
                <p><span>Data: {{forum.createdAt}}</span></p>
            </div>
            <p>{{forum.descricao}}</p>

            <ul *ngIf="forum.tags && forum.tags.length > 0">
                <li *ngFor="let tag of forum.tags">{{tag.nome}}</li>
            </ul>
            
            <div class="respostas">
                <button class="btnResposta" (click)="showAnswers(forum.id)"><i class='bx bx-message-rounded-add' ></i>  Responder</button>
            </div>
        </div>
    </section>
    
    <section class="form"  *ngIf="newQuestion">
        <app-new-question [showForm]="newQuestion" [forums]="forums" (closeForm)="showForm()" ></app-new-question>
    </section>

    <app-resposta
        [isOpen]="showRespostas"
        [forumId]="selectedForumId"
        [respostas]="selectedForum.respostas || []"
        (close)="showAnswers(selectedForumId)">
    </app-resposta>

    <section class="filtro" *ngIf="showFiltro">
        <app-filtro [showFilter]="showFiltro"(closeFiltro)="showFilter()" ></app-filtro>
    </section>
</section>