.addQuest{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.questoes{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    overflow: hidden;
    transition: 0.5s;
}
.questoes:hover {
    overflow: auto;
    transform: translateY(-10px);
}
.questoes .img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: 15px;
    background: linear-gradient(156deg, #08f8e8 5%, #08c8f8 45%);
}
.fotoPerfil{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 1px;
    background-color: #d5d4d4;
}
.fotoPerfil img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.questao{
    position: relative;
    background-color: white;
    width: 92%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    overflow: auto;
    box-shadow: #0c101e86 0.5px 0.5px 7px;
}

.questao h3{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.questao p{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
}
.questao button{
    background-color: #0c101e;
    color: white;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid  #b1aeae;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.082);
    transition: 0.3s;
}
.questao button:hover{
    background-color: #0c101ee4;
    cursor: pointer;
    color: white;
}
.questao .autor{
    display: flex;
    justify-content: flex-start;
    width:  100%;
}
.questao .autor span{
    font-size: 12px;
    font-weight: 500;
    color: black;
    margin-right: 20px;
}
.questao ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}
.questao ul li{
    margin-top: 10px;
    margin-right: 6px;
    font-size: 12px;
    padding: 4px 7px;
    border-radius: 7px;
    background: linear-gradient(var(--secondary-color), var(--tertiary-color));
    color: white;
    font-weight: 600;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
.questao .respostas{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 7px;
}
.respostas p{
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin-right: 5px;
}
span.drop{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
}
span.drop:hover{
    color: #0c101e;
    border: 1px solid #0c101ecc;
    border-radius: 5px;
}
section .form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
section .filtro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}
.btn, .btnResposta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: 500;
    padding: 5px;
    background-color: #0c101e;
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid  #b1aeae;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.btnResposta{
    width: 150px;
    height: 40px;
}
.btnResposta>p{
    display: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.btnResposta p.responder{
    display: flex;
}

.btnResposta:hover>p{
    display: flex;
}

.btnResposta:hover>p.responder{
    display: none;
}

.btnResposta:hover{
    background-color: #0c101ee4;
    cursor: pointer;
    content: none;
}

.btn:hover{
    background-color: #0c101ee4;
    cursor: pointer;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }  
  .spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading-screen p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  a {
    position: relative;
    z-index: 10;
  }
@media (max-width: 768px) {
    .questao{
        width: 100%;
    }
    .questao button{
        padding: 5px;
    }
    .questao h3{
        font-size: 18px;
    }
    .questao p{
        font-size: 14px;
    }
    .questao .autor span{
        font-size: 10px;
    }
    .questao ul li{
        font-size: 10px;
        padding: 2px 5px;
    }
    .respostas p{
        font-size: 12px;
    }
    .btn, .btnResposta {
        width: 150px;
        height: 40px;
        font-weight: 500;
        padding: 5px;
        font-size: 12px;
    }
    .btnResposta{
        width: 100px;
        height: 30px;
    }
    .btnResposta>p{
        font-size: 10px;
    }
    .btnResposta p.responder{
        display: flex;
    }
    .btnResposta:hover>p{
        display: flex;
    }
    .btnResposta:hover>p.responder{
        display: none;
    }
    .btnResposta:hover{
        background-color: #0c101ee4;
        cursor: pointer;
        content: none;
    }
    .btn:hover{
        background-color: #0c101ee4;
        cursor: pointer;
    }
    .loading-screen p {
        margin-top: 10px;
        font-size: 14px;
        color: #333;
    }

    .questoes .img{
        width: 50px;
        height: 45px;
        margin: 10px;
    }
}