<section *ngIf="isLoading" class="loading-screen">
    <div class="spinner"></div>
    <p>Carregando...</p>
  </section>
<section *ngIf="!isLoading">
    <section class="addQuest">
        <button class="btn" (click)="showForm()"><i class='bx bx-plus-medical'></i> Adicionar Questão </button>
        <button class="btn" (click)="showFilter()"><i class='bx bx-filter-alt'></i> Filtrar</button>
    </section>
    <section class="questoes" *ngFor="let forum of forums">
        <div class="img">
            <div class="fotoPerfil">
                <img *ngIf="forum.aluno.img" src="{{apiUrl}}uploads/{{forum.aluno.img}}" alt="fotoperfil">
                <img *ngIf="!forum.aluno.img" [src]="imgDefault" alt="fotoperfil">
            </div>
        </div>
        <div class="questao">
            <h3>{{forum.titulo}}</h3>
            <div class="autor">
                <p><span>Autor: {{forum.aluno.nome}}</span></p>
                <p><span>Data: {{forum.createdAt}}</span></p>
                <p><span>Disciplina: {{forum.materia.nome}}</span></p>
            </div>
            <p>{{forum.descricao}}</p>

            <span *ngIf="forum.fileName"><a target="_blank" href="{{apiUrl}}uploads/{{forum.fileName}}"><i class='bx bx-paperclip'></i> Anexo</a></span>

            <ul *ngIf="forum.tags && forum.tags.length > 0">
                <li *ngFor="let tag of forum.tags">{{tag.nome}}</li>
            </ul>
            
            <div class="respostas">
                <button class="btnResposta" (click)="showAnswers(forum.id)">Responder <span>({{forum.respostas?.length}})</span></button>
            </div>
            <span class="drop" *ngIf="forum.aluno.id === userData.id" (click)="deleteForum(forum.id)"><i class='bx bxs-trash'></i></span>
        </div>
    </section>
    
    <section class="form"  *ngIf="newQuestion">
        <app-new-question [showForm]="newQuestion" [forums]="forums" (closeForm)="showForm()" ></app-new-question>
    </section>

    <app-resposta
        [isOpen]="showRespostas"
        [forumId]="selectedForumId"
        [respostas]="selectedForum.respostas || []"
        (close)="showAnswers(selectedForumId)">
    </app-resposta>

    <section class="filtro" *ngIf="showFiltro">
        <app-filtro 
            [showFilter]="showFiltro" 
            (closeFiltro)="showFilter()" 
            (filterChange)="applyFilter($event)">
        </app-filtro>
    </section>
</section>