.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}

h1{
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 400px;
    margin-bottom: 15px;
}

.form-group label{
    color: black;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #fff;
    width: fit-content;
}

.form-group input{
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 1px #0c101e solid;
    border-radius: 5px;
    background: #fff;
}

.form-group textarea{
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 1px #0c101e solid;
    border-radius: 5px;
    background: #fff;
}
.form-group input[type=text].input:focus {
    outline: none;
}
option{
    color: black;
}

button{
    width: 20%;
    background-color: #0c101e;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid  #b1aeae;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    background-color: #0c101ee4;
    cursor: pointer;
}

.form-control{
    padding: 5px;
    border-radius: 10px;
    border: 2px solid  #0c101e;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.form-control:focus{
    outline: none;
}

.btn-close{
    position: absolute;
    right: 5px;
    top: 5px;
    color: black;
    background-color: white;
    border: 0;
    font-size: 30px;
    cursor: pointer;
}

.tags-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.tags-container h3{
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.btns-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:  space-evenly;
}

.tag-btn {
    background-color: #0c101e;
    color: white;
    font-size: 11px;
    padding: 4px 7px;
    border-radius: 7px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 300ms;

  }
  
  .tag-btn.selected {
    font-size: 11px;
    padding: 4px 7px;
    border-radius: 7px;
    background: linear-gradient(#08f8f8, #0bbfbf);
    color: white;
    font-weight: 500;
  }
  
  .tag-btn:hover {
    background: linear-gradient(#08f8f8, #0bbfbf);
    color: white;
    font-weight: 500;
    transform: scale(1.1);
  }