<section class="container">
    <h1>Adicionar Questão</h1>
    <form (ngSubmit)="submitForum()" [formGroup]="forumForm" #formDir="ngForm">
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" id="titulo" name="titulo" class="form-control" formControlName="titulo" placeholder="Insira o titulo da pergunta" required>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" name="descricao" class="form-control" formControlName="descricao" placeholder="Descreva sua pergunta..." required></textarea>
        </div>
        <div class="form-group">
            <label for="componente">Componente</label>
            <select name="materiaId" id="materiaId" class="form-control" formControlName="materiaId" required (change)="onMateriaChange()">
                <option value="1">Selecione...</option>
                <option *ngFor="let materia of materias" [value]="materia.id">{{ materia.nome }}</option>
            </select>
        </div>
        <div class="form-group">
            
            <div class="tags-container" *ngIf="forumForm.valid">
                <h3>Tags</h3>
                <div class="btns-tags">
                    <button
                        *ngFor="let tag of selectedTags"
                        type="button"
                        class="tag-btn"
                        [class.selected]="isTagSelected(tag)"
                        (click)="toggleTagSelection(tag)"
                    >
                        {{ tag.nome }}
                    </button>
                </div>
            </div>
        </div>
          
        <div class="form-group">
            <label for="arquivo">Anexar Arquivo</label>
            <input type="file" id="arquivo" name="arquivo" class="form-control" (change)="onFileSelected($event)">
        </div>

        <button type="submit" class="form-group">Adicionar Questão</button>
    </form>
    <span class="btn-close" (click)="closeQuestionForm()"><i class='bx bxs-x-circle'></i></span>
</section>