<section class="container">
    <form (ngSubmit)="submitForum()" [formGroup]="forumForm" #formDir="ngForm">
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" id="titulo" name="titulo" class="form-control" formControlName="titulo" required>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" name="descricao" class="form-control" formControlName="descricao" required></textarea>
        </div>
        <div class="form-group">
            <label for="componente">Componente</label>
            <select name="materiaId" id="materiaId" class="form-control" formControlName="materiaId" required>
                <option *ngFor="let materia of materias" value="{{ materia.id }}">{{ materia.nome }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <select name="tags" id="tags" class="form-control" required>
                <option value="1">HTML</option>
                <option value="2">CSS</option>
                <option value="3">JavaScript</option>
                <option value="4">PHP</option>
            </select>
        </div>
        <div class="form-group">
            <label for="arquivo">Anexar Arquivo</label>
            <input type="file" id="arquivo" name="arquivo" class="form-control">
        </div>

        <button type="submit" class="form-group">Adicionar Questão</button>
    </form>
    <span class="btn-close" (click)="closeQuestionForm()"><i class='bx bxs-x-circle'></i></span>
</section>