.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: var(--quinary-color);
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: var(--senary-color);
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 2em;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 400px;
    margin-bottom: 15px;
}

.form-group label{
    color: var(--senary-color);
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: var(--quinary-color);
    width: fit-content;
}

.form-group input, .form-group select{
    padding: 11px 10px;
    font-size: 0.75rem;
    border: var(--border-1px);
    border-radius: 5px;
    background: var(--quinary-color);
}

.form-group textarea{
    padding: 11px 10px;
    font-size: 0.75rem;
    border: var(--border-1px);
    border-radius: 5px;
    background: var(--quinary-color);
    height: 120px;
}
.form-group input[type=text].input:focus {
    outline: none;
}
option{
    color: var(--senary-color);
}

button:hover{
    background-color: #0c101ee4;
    cursor: pointer;
}

.form-control{
    padding: 5px;
    border-radius: 10px;
    border: 2px solid  #0c101e;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.form-control:focus{
    outline: none;
}

.btn-close{
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--senary-color);
    border: 0;
    font-size: 30px;
    cursor: pointer;
}

.tags-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.tags-container h3{
    color: var(--senary-color);
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.btns-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:  start;
}

.tag-btn {
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    padding: 4px 7px;
    border-radius: 7px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 300ms;
    border: none;
}

.tag-btn.selected {
    font-size: 11px;
    padding: 4px 7px;
    border-radius: 7px;
    background: linear-gradient(var(--senary-color), var(--tertiary-color));
    color: var(--quinary-color);
    font-weight: 500;
}

.tag-btn:hover {
    background: linear-gradient(var(--senary-color), var(--tertiary-color));
    color: var(--quinary-color);
    font-weight: 500;
    transform: scale(1.1);
}
 
button.form-group{
    margin-top: 25px;
    margin-bottom: none;
    background-color: var(--primary-color);
    color: var(--quinary-color);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid  var(--sepntenary-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px !important;
    font-weight: 500;
}

@media (max-width: 768px){
    .container{
        padding: 20px;
    }

    .form-group{
        width: 100%;
    }

    .form-group input, .form-group select{
        width: 100%;
    }

    .form-group textarea{
        width: 100%;
    }

    button.form-group{
        width: 100%;
    }
}