<section class="corpo">
    <section class="sombra">
        <section class="container1">
            <h1>Ja tem uma conta?</h1>
            <a routerLink="/login" class="btn-conecte">Conecte-se <i class='bx bx-log-in-circle'></i></a>
        </section>
        <section class="container2">
            <h1>Cadastre-se</h1>
            <form (ngSubmit)="onSubmit()" [formGroup]="alunosForm" #formDir="ngForm">
                <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <select name="tipo" id="tipo" formControlName="tipo">
                        <option value="selecione" disabled>Selecione ...</option>
                        <option value="aluno">Aluno</option>
                        <option value="professor">Professor</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nome"><i class='bx bxs-user-circle' ></i> Nome</label>
                    <input type="text" class="form-control" name="nome" id="nome" formControlName="nome">
                </div>
                <div class="form-group">
                    <label for="email"><i class='bx bxs-envelope'></i> Email</label>
                    <input type="email" class="form-control" id="email" name="email" formControlName="email" >
                </div>
                <div class="form-group senha-container">
                    <label for="senha"><i class='bx bxs-key'></i> Senha</label>
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="senha" name="senha" formControlName="senha">
                    <span class="toggle-password" (click)="togglePassword()">
                      <i [class]="showPassword ? 'bx bxs-show' : 'bx bxs-hide'"></i>
                    </span>
                </div>
                <div class="form-group senha-container">
                    <label for="csenha"><i class='bx bxs-key'></i>Confirme a Senha</label>
                    <input [type]="showPasswordConfirmation ? 'text' : 'password'" class="form-control" id="confirmarSenha" name="confirmarSenha" formControlName="confirmarSenha">
                    <span class="toggle-password" (click)="togglePasswordConfirmation()">
                      <i [class]="showPasswordConfirmation ? 'bx bxs-show' : 'bx bxs-hide'"></i>
                    </span>
                </div>
                <div class="form-group">
                    <label for="curso"><i class='bx bxs-graduation' ></i> Curso</label>
                    <select name="curso_id" id="curso_id" formControlName="curso_id">
                        <option value="1">Desenvolvimento de Sistemas</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="img" class="custom-file"><i class='bx bx-image-add' ></i> Enviar Imagem</label>
                    <input type="file" id="img" (change)="onFileSelected($event)">
                </div>
                <button type="submit" [disabled]="alunosForm.invalid">Registrar</button>
            </form>
        </section>
    </section>
</section>