.sombra{
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7);
    width: 60%;
    border-radius: 15px;
    overflow: auto;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.33);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 80%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--quinary-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
}
button:hover{
    background-color: #0c101ed9;
}

.btn-conecte{
    text-align: center;
    width: 80%;
    padding: 10px;
    color: var(--quinary-color);
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
    border: 2px solid var(--quinary-color);
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.7);
}
.btn-conecte:hover{
    background-color: #ffffffe4;
    color: #0c101e;
}

input[type="file"] {
    display: none;
}

.custom-file {
    position: relative;
    cursor: pointer;
    display: inline-block;
    top:0 !important;
    margin: 0;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid var(--primary-color);
    background: var(--primary-color) !important ;
    color: var(--quinary-color) !important;
    transition: 300ms;
}

.custom-file:hover {
    background: #333 !important; 
    color: var(--quinary-color);
}

.senha-container {
    position: relative;
}

.toggle-password {
position: absolute;
top: 30px;
right: 10px;
cursor: pointer;
font-size: 1.2rem;
color: #0c101e;
}

.toggle-password i {
pointer-events: none;
}

button:disabled {
    background-color: var(--septenary-color);
    cursor: not-allowed;
}

.addFoto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

.container2 a {
    display: none;
    background: linear-gradient(156deg, var(--secondary-color) 5%, var(--tertiary-color) 45%);
    font-weight: 600;
    color: var(--quinary-color);
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s;
    cursor: pointer;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.33);
}

@media (max-width: 1200px){
    .container1{
        display: none;
    }
    .container2{
        width: 100%;
    }

}

@media (max-width: 768px) {
    .corpo{
        padding: 10px;
    }
    .container2{
        padding: 20px 20px 20px 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sombra{
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    .form-group {
        width: 320px;
    }

    .form-group input {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .btn-conecte{
        width: 100%;
    }

    .toggle-password {
        top: 25px;
        right: 10px;
    }

    .container2 a{
        display: flex;
    }
}