<section class="container">
    <!-- ----------------------------------------------publicações------------------------------------------------------- -->
    <div class="publicacao">
        <div class="publicacao-body">
            <textarea class="form-control" rows="2" placeholder="Compartilhe algo..." id="post"></textarea>
            <div class="mar-top clearfix">
                <button class="btn btn-sm btn-primary pull-right" type="submit" (click)="addPostagem()"><i class="fa fa-pencil fa-fw"></i> Enviar</button>
                    <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
                    <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                    <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
            </div>
        </div>
    </div>
     <!-- ----------------------------------------------------------------------------------------------------- -->
    <div class="col-md-7">
        <div class="social-feed-separated" *ngFor="let postagem of postagens">
            <div class="social-avatar">
                <a href="">
                    <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </a>
            </div>
            <div class="social-feed-box">
                <div class="pull-right social-action dropdown">
                    <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu m-t-xs">
                        <li><a href="#"><i class='bx bxs-cog'></i></a></li>
                    </ul>
                </div>

                <div class="social-avatar">
                    <a href="#">{{ postagem.autor }}</a>
                    <small class="text-muted"> {{ postagem.data | date: 'medium'}}</small>
                </div>
                <div class="social-body">
                    <p>{{ postagem.postagem }}</p>
                    <div class="btn-group">
                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Gostei</button>
                        <button class="btn btn-white btn-xs" (click)="comment()"><i class="fa fa-comments"></i> Comentar</button>
                        <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Compartilhar</button>
                    </div>
                </div>
                <div class="social-footer" *ngIf="showComment">
                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                        </a>
                        <div class="media-body">
                            <a href="#"> Huginho</a>
                            o comando para centralizar o texto é o text-align: center;
                            <br>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Gostei</a> -
                            <small class="text-muted">12.06.2024</small>
                        </div>
                    </div>
                    <!-- --------------------------------------------- Reponder publicação ----------------------------------------- -->
                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                        </a>
                        <div class="media-body">
                            <textarea class="form-control" placeholder="Escreva um Comentário..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------------- -->
    </div>
</section>