<section class="container">
    <!-- ----------------------------------------------publicações------------------------------------------------------- -->
    <div class="publicacao">
        <div class="publicacao-body">
            <textarea class="form-control" rows="2" placeholder="Compartilhe algo..." id="post"></textarea>
            <div class="mar-top clearfix">
                <button class="btn btn-sm btn-primary pull-right" type="submit" (click)="adicionarPostagem()"><i class="fa fa-pencil fa-fw"></i> Enviar</button>
                    <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
                    <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                    <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
            </div>
        </div>
    </div>
     <!-- ----------------------------------------------------------------------------------------------------- -->
    <div class="col-md-7">
        <div class="social-feed-separated" *ngFor="let postagem of postagens">
            <div class="social-avatar">
                <a href="">
                    <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </a>
            </div>
            <div class="social-feed-box">
                <div class="pull-right social-action dropdown" (click)="removerPostagem()">
                    <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                        <i class='bx bx-trash'></i>
                    </button>
                </div>

                <div class="social-avatar">
                    <a href="#">{{ postagem.autor }}</a>
                    <small class="text-muted"> {{ postagem.data | date: 'medium'}}</small>
                </div>
                <div class="social-body">
                    <p>{{ postagem.postagem }}</p>
                    <div class="btn-group">
                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Gostei</button>
                        <button class="btn btn-white btn-xs" (click)="toggleComment(postagem.id)"><i class="fa fa-comments"></i> Comentar</button>
                        <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Compartilhar</button>
                    </div>
                </div>
                <div class="social-footer" *ngIf="postagem.id === currentPostId">
                    <div class="social-comment" *ngFor="let resposta of postagem.resposta">
                        <a href="" class="pull-left">
                            <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                        </a>
                        <div class="media-body">
                            <a href="#"> {{ resposta.autor }}</a>
                            {{ resposta.resposta }}
                            <br>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i>0 Gostei</a> -
                            <small class="text-muted">{{ resposta.data | date: 'medium'}}</small>
                        </div>
                    </div>
                    <!-- --------------------------------------------- Reponder publicação ----------------------------------------- -->
                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                        </a>
                        <div class="media-body">
                            <textarea class="form-control" id="resposta-{{ postagem.id }}" placeholder="Escreva um Comentário..." (keydown.enter)="adicionarResposta(postagem.id, $event)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------------- -->
    </div>
</section>