.social-feed-separated .social-feed-box {
    margin-left: 62px;
}
.social-feed-separated .social-avatar {
    float: left;
    padding: 0;
}
.social-feed-separated .social-avatar img {
    width: 52px;
    height: 52px;
    border: 1px solid #e7eaec;
    border-radius: 50%;
}
.social-feed-separated .social-feed-box .social-avatar {
    padding: 15px 15px 0 15px;
    float: none;
}
.social-feed-box {
    border: 1px solid #e7eaec;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 20px;
    margin-right: 5px;
}
.social-action {
    margin: 15px;
}

.social-avatar img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.social-body {
    padding: 15px;
}
.social-body img {
    margin-bottom: 10px;
}
.social-footer {
    border-top: 1px solid #e7eaec;
    padding: 10px 15px;
    background: #f9f9f9;
    border-radius: 20px;
}

.social-footer textarea{
    border-radius: 10px;
    border: 1px solid black;
}
.social-footer .social-comment img {
    width: 32px;
    margin-right: 10px;
}
.social-comment {
    margin-top: 15px;
}
.social-comment textarea {
    font-size: 12px;
}
.btn-sm, .btn-xs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    font-weight: 500;
    padding: 5px;
    background-color: #0c101e;
    color: white;
    border-radius: 20px;
    border: 1px solid  #b1aeae;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
}
a.btn-white{
    background: none;
    color: #0c101e;
    border: none;
    width: 150px;
    font-size: 16px;
}
.btn-group{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
/* chat */
.img-sm {
    width: 46px;
    height: 46px;
}
.publicacao {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    background-color: #fff;
    margin-bottom: 15px;
    min-height: 140px;
}
.publicacao textarea{
    border: 1px solid black;
    border-radius: 10px;
}
.publicacao .publicacao-footer, .publicacao>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.publicacao .publicacao-heading, .publicacao>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.publicacao-body {
    padding: 25px 20px;
}
.btn{
    padding: 3px;
    margin: 3px;
}
.dropdown-toggle {
    width: 20px;
    color: #0c101e;
    background: none;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1em;
    cursor: pointer;
}
.dropdown-toggle:hover{
    border: 1px solid black;
    border-radius: 5px;
}