<section class="container">
    <!-- ----------------------------------------------publicações------------------------------------------------------- -->
    <div class="publicacao">
        <form (ngSubmit)="submit()" [formGroup]="postagemForm" #formDir="ngForm">
            <div class="publicacao-body">
                <textarea 
                class="form-control" 
                rows="2" placeholder="Compartilhe algo..." 
                id="conteudo" name="conteudo" formControlName="conteudo"></textarea>
                <div class="mar-top clearfix">
                    <button class="btn btn-sm btn-primary pull-right" type="submit" ><i class="fa fa-pencil fa-fw"></i> Enviar</button>
                        <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
                        <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                        <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
                </div>
            </div>
        </form>
    </div>
     <!-- ----------------------------------------------------------------------------------------------------- -->
    <div class="col-md-7">
        <div class="social-feed-separated" *ngFor="let postagem of postagens">
            <div class="social-avatar">
                <a href="">
                    <img [src]="getImageUrl(postagem.imgAutor)" alt="imagem autor">
                </a>
            </div>
            <div class="social-feed-box">
                <div class="pull-right social-action dropdown">
                    <button data-toggle="dropdown" class="dropdown-toggle btn-white" (click)="removePostagem(postagem.id!)">
                        <i class='bx bx-trash'></i>
                    </button>
                </div>

                <div class="social-avatar">
                    <a href="#">{{ postagem.autor }}</a>
                    <small class="text-muted"> {{ postagem.createdAt }}</small>
                </div>
                <div class="social-body">
                    <p>{{ postagem.conteudo }}</p>
                    <div class="btn-group">
                        <button class="btn btn-white btn-xs"><i class='bx bxs-star'></i> Estrelas</button>
                        <button class="btn btn-white btn-xs" (click)="showComments(postagem.id!)"><i class="fa fa-comments"></i> Comentar</button>
                    </div>
                </div>
                <div class="social-footer" *ngIf="postagem.id === currentPostId">
                
                    <div class="social-comment" *ngFor="let comentario of postagem.comentarios">
                        <a href="" class="pull-left">
                            <img [src]="getImageUrl(postagem.imgAutor)" alt="imagem autor">
                        </a>
                        <div class="media-body">
                            <a href="#"> {{ comentario.autor }}</a>
                            
                            <p>{{ comentario.conteudo }}</p>
                            <br>
                            <a href="#" class="small"> <i class='bx bxs-star'></i> {{comentario.qntd_estrelas }} Estrelas</a> -
                            <small class="text-muted"> {{ comentario.createdAt }}</small>
                        </div>
                    </div>
                    <!-- --------------------------------------------- Reponder publicação ----------------------------------------- -->
                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img [src]="imgDefault" alt="imagem autor">
                        </a>
                            <form (ngSubmit)="submitComentario()" [formGroup]="comentarioForm" #formDir="ngForm">
                            <div class="media-body">
                                <textarea class="form-control" id="conteudo" name="conteudo" formControlName="conteudo" placeholder="Escreva um Comentário..." ></textarea>
                                <button class="btn btn-primary btn-xs" type="submit">Responder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------------- -->
    </div>
</section>