.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    background-color: var(--quinary-color);
    padding: 20px;
    border-radius: 10px;
}

h1{
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.filtros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    
}

.select{
    width: 100%;
    background-color: var(--quinary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid  var(--primary-color);
    box-shadow: 0 0 5px 0 #0000001a;
    margin: 15px;
}

.select select{
    width: 100%;
    border: none;
    background-color: var(--quinary-color);
    font-size: 16px;
    font-weight: 500;
    color: var(--senary-color);
    
}

.select select:focus{
    outline: none;
}

.btnBuscar{
    width: 30%;
    background: linear-gradient(var(--secondary-color), var(--tertiary-color));
    color: var(--quaternary-color);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-weight: 500;
    border: none;
}

.btnBuscar:hover{
    background-color: #0c101ee4;
    cursor: pointer;
}

.btn-close{
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--senary-color);
    background-color: var(--quinary-color);
    border: 0;
    font-size: 30px;
    cursor: pointer;
}