.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    background-color: white;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

.filtros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    
}

.select{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid  #0c101e;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 15px;
}

.select select{
    width: 100%;
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: black;
    
}

.select select:focus{
    outline: none;
}

.btnBuscar{
    width: 30%;
    background-color: #0c101e;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid  #b1aeae;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.btnBuscar:hover{
    background-color: #0c101ee4;
    cursor: pointer;
}

.btn-close{
    position: absolute;
    right: 5px;
    top: 5px;
    color: black;
    background-color: white;
    border: 0;
    font-size: 30px;
    cursor: pointer;
}