<section class="container">
    <section class="filtros">
        <div class="select">
            <select name="filtroComponente">
                <option value="1">Desenvolvimento Web I</option>
                <option value="2">Programação e Algoritimos</option>
                <option value="3">Banco de Dados I</option>
                <option value="4">Desing Digital</option>
                <option value="5">Fundamentos da Informatica</option>
            </select>
        </div>
        <div class="select">
            <select name="tags">
                <option value="1">HTML</option>
                <option value="2">CSS</option>
                <option value="3">JavaScript</option>
                <option value="4">PHP</option>
            </select>
        </div>
        <button class="btnBuscar">Buscar</button>
    </section>
    <span (click)="closeFilter()"> X </span>
</section>