section.container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

table{
    width: 50%;
    border-radius: 20px;
}

table th{
    background-color: #0c101e;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

table td{
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    background-color: #f2f2f2;
}

table td.nome{
    text-align: left;

}

table tr:hover{
    background-color: #f2f2f2;
}

td img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
}



