<section class="container">
    <section class="ranking-container">
      <h1>ESTRELAS DO CONHECIMENTO</h1>
      <div class="top-three">
        <div *ngIf="alunos.length > 1" class="player second">
          <div class="medal silver">#2</div>
          <div class="player-name">{{ alunos[1]!.nome }}</div>
        </div>
        <div *ngIf="alunos.length > 0" class="player first">
            <div class="medal-container">
                <span>
                    <i class="bx bxs-star"></i>
                    <p class="position">{{alunos[0]!.estrelas}}</p>

                </span>
                <div class="medal gold">
                    <img [src]="baseApi+'uploads/'+alunos[0]!.img" alt="">
                </div>
            </div>
            <div class="player-name">{{ alunos[0]!.nome }}</div>
          </div>
        <div *ngIf="alunos.length > 2" class="player third">
          <div class="medal bronze">#3</div>
          <div class="player-name">{{ alunos[2]!.nome }}</div>
        </div>
      </div>
      <div class="ranking-list">
        <div *ngFor="let aluno of alunos; let i = index" class="player-list-item" >
          <span>#{{ i + 1 }}</span> <span>{{ aluno.nome }}</span> <span>{{ aluno.estrelas }}</span>
        </div>
      </div>
    </section>
  </section>
