<section class="corpo">
     <section class="container">
          <section class="container1">
               <h1>Não tem uma conta? </h1>
               <a routerLink="/cadastro" class="btn-cadastrar">Cadastre-se</a>
          </section>
          <section class="container2">
               <h1>Conecte-se</h1>
               <form (ngSubmit)="onLogin()" [formGroup]="loginForm" #formDir="ngForm">
                    <div class="form-group">
                         <label for="email">Email</label>
                         <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Digite seu email">
                    </div>
                    <div class="form-group">
                         <label for="senha">Senha</label>
                         <input type="password" class="form-control" id="senha" name="senha" formControlName="senha" placeholder="Digite sua senha">
                    </div>
                    <div>
                         <label for="tipo">Você é:</label>
                         <select id="tipo" formControlName="tipo" required>
                         <option value="" disabled selected>Selecione</option>
                         <option value="aluno">Aluno</option>
                         <option value="professor">Professor</option>
                         </select>
                    </div>
                    <button type="submit" class="form-control" [disabled]="loginForm.invalid">Entrar</button>
               </form>
          </section>
     </section>
</section>
