<section class="corpo">
     <section class="container">
        <form (ngSubmit)="onLogin()" [formGroup]="loginForm" #formDir="ngForm">
             <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Digite seu email">
             </div>
             <div class="form-group">
                  <label for="senha">Senha</label>
                  <input type="password" class="form-control" id="senha" name="senha" formControlName="senha" placeholder="Digite sua senha">
             </div>
             <button type="submit" class="form-control">Entrar</button>
        </form>
        <article>
             <p>Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a></p>
        </article>
     </section>
</section>
