.container{
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7);
    width: 60%;
    height: 70%;
    border-radius: 15px;
    overflow: auto;
}

.container1{
    padding: 20px 80px 20px 80px;
    width: 50%;
    background: rgb(8,248,232);
    background: linear-gradient(156deg, rgba(8,248,232,1) 5%, rgba(8,200,248,1) 45%);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 50%;
    height: 100%;
    padding: 20px 80px 20px 80px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.33);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 100%;
    margin-bottom: 10px;
}

.form-group label {
    color: black;
    font-weight: 500;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #fff;
    width: fit-content;
}

.form-group input {
    padding: 5px 5px;
    font-size: 1rem;
    border: 1px #0c101e solid;
    border-radius: 5px;
    background: #fff;
    width: 100%;
}

.form-group input:invalid {
    border-color: red;
}

.form-group input[type=text].input:focus {
    outline: none;
}

select{
    padding: 5px 5px;
    font-size: 1rem;
    border: 1px #0c101e solid;
    border-radius: 5px;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #0c101e;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 40px;
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
button:hover{
    background-color: #0c101edc;
}
p{
    margin-top: 5px;
}
select{
    width: 200px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid  #0c101e;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
option{
    color: #fff;
    background-color: #0c101e;
}
label{
    color: black;
    font-weight: 600;
}

.btn-cadastrar{
    text-align: center;
    width: 80%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
    border: 2px solid white;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.7);
}
.btn-cadastrar:hover{
    background-color: #ffffffe4;
    color: #0c101e;
}