*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

:root{
    --primary-color: #08c8f8;
    --secondary-color: #08f8e8;
    --tertiary-color: #08c8f8;
    --quaternary-color: #0c101e;
    --quinary-color: #2d3140;
    --senary-color: white;
    --septenary-color: #ccc;
    --octonary-color: #ff0000;
    --nonary-color: #8a2be2;
    --decenary-color: #4b0082;
    --gold-color: #ffd700;
    --box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    --text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    --border-1px: 1px solid #000;
}

body, html{
    width: 100vw;
    min-height: 100vh;
}

body{
    display: flex;
    flex-direction: row;
    background: var(--quaternary-color);
}

.corpo{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

aside{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 300px;
    color: var(--quinary-color);
    padding: 0px;
    height: 100%;
    z-index: 999;
    overflow: auto;
}

main{
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - 300px);
    height: 100vh;
    background-color: var(--quaternary-color);
    overflow: auto;
}

.container1{
    padding: 20px 80px 20px 80px;
    width: 50%;
    background: linear-gradient(156deg, var(--secondary-color) 5%, var(--tertiary-color) 45%);
    color: var(--quinary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 50%;
    height: 100%;
    padding: 40px 80px 40px 80px;
    background-color: var(--quinary-color);
}

.form-group {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 100%;
    margin-bottom: 10px;
}

.form-group label {
    color: var(--senary-color);
    font-weight: 500;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: var(--quinary-color);
    width: fit-content;
}

.form-group input {
    padding: 5px 5px;
    font-size: 1rem;
    border: 1px var(--primary-color) solid;
    border-radius: 5px;
    background: var(--quinary-color);
}

.form-group input:invalid {
    border-color: var(--octonary-color);
}

.form-group input[type=text].input:focus {
    outline: none;
}

select{
    padding: 5px 5px;
    font-size: 1rem;
    border: 1px var(--primary-color) solid;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

select:invalid {
    border-color: var(--octonary-color);
}

select option {
    color: var(--senary-color);
}

select option:disabled {
    color: var(--septenary-color);
}

@media screen and (max-width: 768px) {
    aside{
        width: 0px;
    }
    main {
       position: absolute;
       width: 100%;
        top: 50px;
    }   
}